## Th·ª±c hi·ªán test l·∫•y d·ªØ li·ªáu v√† x·ª≠ l√Ω d·ªØ li·ªáu t·ª´ th∆∞ vi·ªán vnstock

In [2]:
!pip install ta-lib

Requirement already satisfied: ta-lib in c:\users\admin\anaconda3\lib\site-packages (0.6.8)
Requirement already satisfied: build in c:\users\admin\anaconda3\lib\site-packages (from ta-lib) (1.3.0)
Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (from ta-lib) (2.1.3)
Requirement already satisfied: packaging>=19.1 in c:\users\admin\anaconda3\lib\site-packages (from build->ta-lib) (24.2)
Requirement already satisfied: pyproject_hooks in c:\users\admin\anaconda3\lib\site-packages (from build->ta-lib) (1.2.0)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from build->ta-lib) (0.4.6)

In [1]:
# L·∫•y d·ªØ li·ªáu t·ª´ ngu·ªìn s·∫µn c√≥
import sys
import os
import talib as ta
sys.path.append('d:\\NCKH\\SARSA_FinancialRL')  # Th√™m ƒë∆∞·ªùng d·∫´n g·ªëc ƒë·ªÉ import module

import pandas as pd
from data.data_processor.feature_engineer import engineer_stat as es

# ƒê·ªãnh nghƒ©a ƒë∆∞·ªùng d·∫´n g·ªëc
base_path = 'd:\\NCKH\\SARSA_FinancialRL'

# L·∫•y d·ªØ li·ªáu t·∫°m t·ª´ ngu·ªìn s·∫µn c√≥
csv_path = os.path.join(base_path, 'data', 'data_storer', 'FPT_detail_2013_01_01_2024_12_31.csv')
df = pd.read_csv(csv_path)

In [2]:
df

            time    open    high     low   close   volume
0     20-06-2012    5.31    5.31    5.27    5.29    89720
1     21-06-2012    5.28    5.29    5.26    5.28    50360
2     22-06-2012    5.27    5.28    5.26    5.26    67350
3     25-06-2012    5.25    5.29    5.25    5.26    42840
4     26-06-2012    5.22    5.24    5.22    5.22    31110
...          ...     ...     ...     ...     ...      ...
3128  25-12-2024  129.85  130.37  129.68  130.02  2517969
3129  26-12-2024  130.19  130.54  128.56  129.16  2238343
3130  27-12-2024  128.90  129.25  128.21  128.99  2567003
3131  30-12-2024  128.81  130.02  128.04  129.76  1986819
3132  31-12-2024  129.93  132.69  129.59  131.49  3612655

[3133 rows x 6 columns]

### G·∫Øn v√†o c√°c ch·ªâ b√°o kƒ© thu·∫≠t c·∫ßn thi·∫øt

In [9]:
df['time'] = pd.to_datetime(df['time'])
df = df.sort_values('time').reset_index(drop=True)

# G·ªçi h√†m v·ªõi start_date v√† config t√πy ch·ªânh
start_date = pd.to_datetime('01-01-2013', format='%d-%m-%Y')
df_with_indicators = es.add_technical_indicators(
    df, 
    start_date=start_date
)
# df_with_indicators gi·ªù ƒë√£ c√≥ c√°c c·ªôt ch·ªâ s·ªë, g·∫Øn v√†o df g·ªëc c·ªßa b·∫°n
df_with_indicators

,time,open,high,low,close,volume,MACD,RSI,CCI,ADX
0,02/01/2013,4.00,4.15,4.00,4.13,380320,0.062248,72.002503,253.212693,26.054096
1,03/01/2013,4.13,4.15,4.00,4.07,366960,0.073297,66.503579,180.086580,28.047868
2,04/01/2013,4.05,4.13,4.04,4.13,278020,0.085905,69.049162,156.238566,29.899227
3,07/01/2013,4.11,4.14,4.08,4.11,204570,0.093209,67.215490,133.887463,31.676318
4,08/01/2013,4.12,4.31,4.11,4.31,535860,0.113823,74.506365,161.115250,34.114683
...,...,...,...,...,...,...,...,...,...,...
2991,25/12/2024,129.85,130.37,129.68,130.02,2517969,2.858353,67.076480,80.770363,34.110079
2992,26/12/2024,130.19,130.54,128.56,129.16,2238343,2.718885,63.212308,61.673685,33.596240
2993,27/12/2024,128.90,129.25,128.21,128.99,2567003,2.565070,62.446483,34.093919,32.865699
2994,30/12/2024,128.81,130.02,128.04,129.76,1986819,2.476752,64.541897,51.584632,32.527327
2995,31/12/2024,129.93,132.69,129.59,131.49,3612655,2.517338,68.759598,165.622284,33.179681

## Ki·ªÉm ch·ª©ng ƒë·ªô ch√≠nh x√°c c·ªßa lu·ªìng x·ª≠ l√Ω d·ªØ li·ªáu v√† c√°c ch·ªâ b√°o k·ªπ thu·∫≠t ƒë∆∞·ª£c th√™m v√†o dataframe

T·ª´ d·ªØ li·ªáu m·∫´u ƒë√£ c√≥ trong bi·∫øn df th·ª±c hi·ªán t√≠nh th·ªß c√¥ng ƒë·ªÉ so s√°nh v·ªõi k·∫øt qu·∫£ t√≠nh ƒë∆∞·ª£c t·ª´ h√†m ƒë√≥ng g√≥i tr√™n.

In [ ]:
# T√≠nh th·ªß c√¥ng c√°c ch·ªâ b√°o k·ªπ thu·∫≠t ƒë·ªÉ ki·ªÉm ch·ª©ng
import numpy as np

# Sao ch√©p df ƒë·ªÉ t√≠nh th·ªß c√¥ng
df_manual = df.copy()

# T√≠nh MACD
df_manual['MACD'] = ta.MACD(df_manual['close'], fastperiod=12, slowperiod=26, signalperiod=9)[0]

# T√≠nh RSI
df_manual['RSI'] = ta.RSI(df_manual['close'], timeperiod=14)

# T√≠nh CCI
df_manual['CCI'] = ta.CCI(df_manual['high'], df_manual['low'], df_manual['close'], timeperiod=20)

# T√≠nh ADX
df_manual['ADX'] = ta.ADX(df_manual['high'], df_manual['low'], df_manual['close'], timeperiod=14)

# Lo·∫°i b·ªè NaN
df_manual = df_manual.dropna().reset_index(drop=True)

# L·ªçc t·ª´ start_date tr·ªü ƒëi
df_manual = df_manual[df_manual['time'] >= start_date].reset_index(drop=True)

# ƒê·ªãnh d·∫°ng time th√†nh dd/mm/yyyy
df_manual['time'] = df_manual['time'].dt.strftime('%d/%m/%Y')

# Gi·ªØ l·∫°i c√°c c·ªôt c·∫ßn thi·∫øt
required_columns = ['time', 'open', 'high', 'low', 'close', 'volume', 'MACD', 'RSI', 'CCI', 'ADX']
df_manual = df_manual[required_columns]

# So s√°nh v·ªõi df_with_indicators
print("Shape df_manual:", df_manual.shape)
print("Shape df_with_indicators:", df_with_indicators.shape)

# Ki·ªÉm tra c√°c c·ªôt gi·ªëng nhau
columns_match = df_manual.columns.tolist() == df_with_indicators.columns.tolist()
print("C·ªôt gi·ªëng nhau:", columns_match)

if columns_match:
    # So s√°nh t·ª´ng c·ªôt numeric
    numeric_cols = ['open', 'high', 'low', 'close', 'volume', 'MACD', 'RSI', 'CCI', 'ADX']
    for col in numeric_cols:
        close_match = np.allclose(df_manual[col], df_with_indicators[col], rtol=1e-10, atol=1e-10)
        print(f"C·ªôt {col} kh·ªõp:", close_match)
        if not close_match:
            print(f"  Sai l·ªách max trong {col}:", np.max(np.abs(df_manual[col] - df_with_indicators[col])))

    # So s√°nh c·ªôt time
    time_match = (df_manual['time'] == df_with_indicators['time']).all()
    print("C·ªôt time kh·ªõp:", time_match)

print("\nƒê·∫ßu df_manual:")
print(df_manual.head())

print("\nƒê·∫ßu df_with_indicators:")
print(df_with_indicators.head())

Shape df ban ƒë·∫ßu: (3133, 6)
Shape sau t√≠nh indicators: (3133, 10)
Shape sau dropna: (3100, 10)
start_date: 2013-01-01 00:00:00
Min time trong df_manual: 2012-08-06 00:00:00
Max time trong df_manual: 2024-12-31 00:00:00
Shape sau filter start_date: (2996, 10)
Shape df_manual: (2996, 10)
Shape df_with_indicators: (2996, 10)
C·ªôt gi·ªëng nhau: True
C·ªôt open kh·ªõp: True
C·ªôt high kh·ªõp: True
C·ªôt low kh·ªõp: True
C·ªôt close kh·ªõp: True
C·ªôt volume kh·ªõp: True
C·ªôt MACD kh·ªõp: True
C·ªôt RSI kh·ªõp: True
C·ªôt CCI kh·ªõp: True
C·ªôt ADX kh·ªõp: True
C·ªôt time kh·ªõp: True

ƒê·∫ßu df_manual:

ƒê·∫ßu df_with_indicators:

In [16]:
df_manual

,time,open,high,low,close,volume,MACD,RSI,CCI,ADX
0,02/01/2013,4.00,4.15,4.00,4.13,380320,0.062248,72.002503,253.212693,26.054096
1,03/01/2013,4.13,4.15,4.00,4.07,366960,0.073297,66.503579,180.086580,28.047868
2,04/01/2013,4.05,4.13,4.04,4.13,278020,0.085905,69.049162,156.238566,29.899227
3,07/01/2013,4.11,4.14,4.08,4.11,204570,0.093209,67.215490,133.887463,31.676318
4,08/01/2013,4.12,4.31,4.11,4.31,535860,0.113823,74.506365,161.115250,34.114683
...,...,...,...,...,...,...,...,...,...,...
2991,25/12/2024,129.85,130.37,129.68,130.02,2517969,2.858353,67.076480,80.770363,34.110079
2992,26/12/2024,130.19,130.54,128.56,129.16,2238343,2.718885,63.212308,61.673685,33.596240
2993,27/12/2024,128.90,129.25,128.21,128.99,2567003,2.565070,62.446483,34.093919,32.865699
2994,30/12/2024,128.81,130.02,128.04,129.76,1986819,2.476752,64.541897,51.584632,32.527327
2995,31/12/2024,129.93,132.69,129.59,131.49,3612655,2.517338,68.759598,165.622284,33.179681

In [17]:
df_with_indicators

,time,open,high,low,close,volume,MACD,RSI,CCI,ADX
0,02/01/2013,4.00,4.15,4.00,4.13,380320,0.062248,72.002503,253.212693,26.054096
1,03/01/2013,4.13,4.15,4.00,4.07,366960,0.073297,66.503579,180.086580,28.047868
2,04/01/2013,4.05,4.13,4.04,4.13,278020,0.085905,69.049162,156.238566,29.899227
3,07/01/2013,4.11,4.14,4.08,4.11,204570,0.093209,67.215490,133.887463,31.676318
4,08/01/2013,4.12,4.31,4.11,4.31,535860,0.113823,74.506365,161.115250,34.114683
...,...,...,...,...,...,...,...,...,...,...
2991,25/12/2024,129.85,130.37,129.68,130.02,2517969,2.858353,67.076480,80.770363,34.110079
2992,26/12/2024,130.19,130.54,128.56,129.16,2238343,2.718885,63.212308,61.673685,33.596240
2993,27/12/2024,128.90,129.25,128.21,128.99,2567003,2.565070,62.446483,34.093919,32.865699
2994,30/12/2024,128.81,130.02,128.04,129.76,1986819,2.476752,64.541897,51.584632,32.527327
2995,31/12/2024,129.93,132.69,129.59,131.49,3612655,2.517338,68.759598,165.622284,33.179681

## Th·ª≠ nghi·ªám h√†m l·∫•y d·ªØ li·ªáu t·ª´ VNStockDataProvider.py c√≥ th·ªÉ ch·ªânh bi·∫øn m√¨nh mong mu·ªën

In [5]:
# Th·ª≠ nghi·ªám VNStockDataProvider
import sys
sys.path.append('d:\\NCKH\\SARSA_FinancialRL')

from data.data_provider.library_extracted.vnstock.VNStockDataProvider import VNStockDataProvider

# Kh·ªüi t·∫°o VNStockDataProvider
provider = VNStockDataProvider()

# L·∫•y d·ªØ li·ªáu OHLCV cho m·ªôt s·ªë m√£ c·ªï phi·∫øu
symbols = ['FPT', 'VCB', 'VNM']
start_date = '2020-01-01'
end_date = '2020-12-31'
interval = '1D'

# G·ªçi h√†m get_ohlcv_data
ohlcv_data = provider.get_ohlcv_data(symbols, start_date, end_date, interval, verbose=True)

ohlcv_data
# # Hi·ªÉn th·ªã k·∫øt qu·∫£
# print("D·ªØ li·ªáu OHLCV:")
# print(ohlcv_data.head(10))
# print(f"\nShape: {ohlcv_data.shape}")
# print(f"C√°c c·ªôt: {ohlcv_data.columns.tolist()}")

# # Ki·ªÉm tra c·ªôt 'time' c√≥ ph·∫£i l√† yyyy/mm/dd kh√¥ng
# if 'time' in ohlcv_data.columns:
#     print(f"\nM·∫´u c·ªôt time: {ohlcv_data['time'].head()}")
#     print(f"Format time: {ohlcv_data['time'].dtype}")

================================================================================
L·∫§Y D·ªÆ LI·ªÜU OHLCV T·ª™ VNSTOCK
================================================================================
üìã Danh s√°ch m√£: ['FPT', 'VCB', 'VNM']
üìÖ Kho·∫£ng th·ªùi gian: 2020-01-01 ƒë·∫øn 2020-12-31
‚è±Ô∏è  Phi√™n: 1D
--------------------------------------------------------------------------------
üì° ƒêang l·∫•y d·ªØ li·ªáu cho FPT...
‚úÖ FPT: 264 d√≤ng
üì° ƒêang l·∫•y d·ªØ li·ªáu cho VCB...
‚úÖ FPT: 264 d√≤ng
üì° ƒêang l·∫•y d·ªØ li·ªáu cho VCB...
‚úÖ VCB: 264 d√≤ng
üì° ƒêang l·∫•y d·ªØ li·ªáu cho VNM...
‚úÖ VCB: 264 d√≤ng
üì° ƒêang l·∫•y d·ªØ li·ªáu cho VNM...
‚úÖ VNM: 264 d√≤ng

================================================================================
K·∫æT QU·∫¢
================================================================================
‚úÖ T·ªïng s·ªë d√≤ng d·ªØ li·ªáu: 792
‚úÖ S·ªë m√£ th√†nh c√¥ng: 3

üìã C√°c c·ªôt d·ªØ li·ªáu:
   ‚Ä¢ time
   ‚Ä¢ open
   ‚Ä¢ high
   ‚Ä¢ low
   ‚Ä¢ close
   ‚Ä¢ volume
   ‚Ä¢ symbol

üìä Th·ªëng k√™:
   ‚Ä¢ S·ªë m√£: 3
   ‚Ä¢ Kho·∫£ng th·ªùi gian: 2019-12-16 ƒë·∫øn 2020-12-31
   ‚Ä¢ Trung b√¨nh ng√†y/m√£: 264

üìÑ M·∫´u d·ªØ li·ªáu (10 d√≤ng ƒë·∫ßu):
         time   open   high    low  close   volume symbol
0  2019/12/16  20.84  20.84  20.59  20.63   968130    FPT
1  2019/12/17  20.52  20.59  20.11  20.22  2211360    FPT
2  2019/12/18  20.22  20.44  20.08  20.26  1022490    FPT
3  2019/12/19  20.26  20.52  20.22  20.37   817820    FPT
4  2019/12/20  20.44  20.70  20.37  20.63   777100    FPT
5  2019/12/23  20.77  20.81  20.44  20.48   766000    FPT
6  2019/12/24  20.59  20.63  20.48  20.59   692100    FPT
7  2019/12/25  20.59  21.14  20.59  20.99  1604350    FPT
8  2019/12/26  21.10  21.21  20.95  20.95  1124500    FPT
9  2019/12/27  20.95  21.10  20.73  21.03  1004860    FPT

üíæ D·ªØ li·ªáu ƒë√£ s·∫µn s√†ng
   Shape: (792, 7) (rows, columns)
   Memory usage: 0.13 MB

‚úÖ HO√ÄN T·∫§T!
‚úÖ VNM: 264 d√≤ng

================================================================================
K·∫æT QU·∫¢
================================================================================
‚úÖ T·ªïng s·ªë d√≤ng d·ªØ li·ªáu: 792
‚úÖ S·ªë m√£ th√†nh c√¥ng: 3

üìã C√°c c·ªôt d·ªØ li·ªáu:
   ‚Ä¢ time
   ‚Ä¢ open
   ‚Ä¢ high
   ‚Ä¢ low
   ‚Ä¢ close
   ‚Ä¢ volume
   ‚Ä¢ symbol

üìä Th·ªëng k√™:
   ‚Ä¢ S·ªë m√£: 3
   ‚Ä¢ Kho·∫£ng th·ªùi gian: 2019-12-16 ƒë·∫øn 2020-12-31
   ‚Ä¢ Trung b√¨nh ng√†y/m√£: 264

üìÑ M·∫´u d·ªØ li·ªáu (10 d√≤ng ƒë·∫ßu):
         time   open   high    low  close   volume symbol
0  2019/12/16  20.84  20.84  20.59  20.63   968130    FPT
1  2019/12/17  20.52  20.59  20.11  20.22  2211360    FPT
2  2019/12/18  20.22  20.44  20.08  20.26  1022490    FPT
3  2019/12/19  20.26  20.52  20.22  20.37   817820    FPT
4  2019/12/20  20.44  20.70  20.37  20.63   777100    FPT
5  2019/12/23  20.77  20.81  20.44  20.48   766000    FPT
6  2019/12/24  20.59  20.63  20.48  20.59   692100    FPT
7  2019/12/25  20.59  21.14  20.59  20.99  1604350    FPT
8  2019/12/26  21.10  21.21  20.95  20.95  1124500    FPT
9  2019/12/27  20.95  21.10  20.73  21.03  1004860    FPT

üíæ D·ªØ li·ªáu ƒë√£ s·∫µn s√†ng
   Shape: (792, 7) (rows, columns)
   Memory usage: 0.13 MB

‚úÖ HO√ÄN T·∫§T!

           time   open   high    low  close   volume symbol
0    2019/12/16  20.84  20.84  20.59  20.63   968130    FPT
1    2019/12/17  20.52  20.59  20.11  20.22  2211360    FPT
2    2019/12/18  20.22  20.44  20.08  20.26  1022490    FPT
3    2019/12/19  20.26  20.52  20.22  20.37   817820    FPT
4    2019/12/20  20.44  20.70  20.37  20.63   777100    FPT
..          ...    ...    ...    ...    ...      ...    ...
787  2020/12/25  82.01  82.23  81.48  82.16  1755510    VNM
788  2020/12/28  82.16  82.68  81.63  81.93  2305300    VNM
789  2020/12/29  82.16  82.46  81.86  82.31  1299700    VNM
790  2020/12/30  82.31  83.06  81.86  82.01  1856600    VNM
791  2020/12/31  82.16  82.84  82.01  82.01   993810    VNM

[792 rows x 7 columns]

In [7]:
ohlcv_data.loc[ohlcv_data['symbol'] == 'FPT']

           time   open   high    low  close   volume symbol
0    2019/12/16  20.84  20.84  20.59  20.63   968130    FPT
1    2019/12/17  20.52  20.59  20.11  20.22  2211360    FPT
2    2019/12/18  20.22  20.44  20.08  20.26  1022490    FPT
3    2019/12/19  20.26  20.52  20.22  20.37   817820    FPT
4    2019/12/20  20.44  20.70  20.37  20.63   777100    FPT
..          ...    ...    ...    ...    ...      ...    ...
259  2020/12/25  24.90  25.16  24.72  25.16  1625110    FPT
260  2020/12/28  25.29  25.60  25.12  25.29  2197090    FPT
261  2020/12/29  25.29  25.68  25.16  25.60  2172950    FPT
262  2020/12/30  25.73  25.73  25.38  25.38  1204180    FPT
263  2020/12/31  25.38  25.86  25.33  25.81  2036370    FPT

[264 rows x 7 columns]

In [9]:
# Test VNStockDataProvider
from data.data_provider.library_extracted.vnstock.VNStockDataProvider import VNStockDataProvider

# Kh·ªüi t·∫°o provider
provider = VNStockDataProvider(source='VCI')

# L·∫•y d·ªØ li·ªáu cho m·ªôt s·ªë m√£
symbols = ['FPT', 'ACB']
start_date = '2023-01-01'
end_date = '2023-12-31'
interval = '1D'

ohlcv_data = provider.get_ohlcv_data(symbols, start_date, end_date, interval, verbose=True)

print(f"\nColumns: {ohlcv_data.columns.tolist()}")
print(f"Shape: {ohlcv_data.shape}")
print(f"Sample data:\n{ohlcv_data.head()}")

================================================================================
L·∫§Y D·ªÆ LI·ªÜU OHLCV T·ª™ VNSTOCK
================================================================================
üìã Danh s√°ch m√£: ['FPT', 'ACB']
üìÖ Kho·∫£ng th·ªùi gian: 2023-01-01 ƒë·∫øn 2023-12-31
‚è±Ô∏è  Phi√™n: 1D
--------------------------------------------------------------------------------
üì° ƒêang l·∫•y d·ªØ li·ªáu cho FPT...
‚úÖ FPT: 262 d√≤ng
üì° ƒêang l·∫•y d·ªØ li·ªáu cho ACB...
‚úÖ FPT: 262 d√≤ng
üì° ƒêang l·∫•y d·ªØ li·ªáu cho ACB...
‚úÖ ACB: 262 d√≤ng

================================================================================
K·∫æT QU·∫¢
================================================================================
‚úÖ T·ªïng s·ªë d√≤ng d·ªØ li·ªáu: 524
‚úÖ S·ªë m√£ th√†nh c√¥ng: 2

üìã C√°c c·ªôt d·ªØ li·ªáu:
   ‚Ä¢ time
   ‚Ä¢ open
   ‚Ä¢ high
   ‚Ä¢ low
   ‚Ä¢ close
   ‚Ä¢ volume
   ‚Ä¢ symbol

üìä Th·ªëng k√™:
   ‚Ä¢ S·ªë m√£: 2
   ‚Ä¢ Kho·∫£ng th·ªùi gian: 2022-12-14 ƒë·∫øn 2023-12-29
   ‚Ä¢ Trung b√¨nh ng√†y/m√£: 262

üìÑ M·∫´u d·ªØ li·ªáu (10 d√≤ng ƒë·∫ßu):
         time   open   high    low  close   volume symbol
0  2022/12/14  13.54  13.75  13.34  13.57  3294738    ACB
1  2022/12/15  13.48  13.78  13.48  13.60  4116001    ACB
2  2022/12/16  13.48  13.72  13.40  13.48  2221946    ACB
3  2022/12/19  13.42  13.63  13.34  13.34  3384971    ACB
4  2022/12/20  13.34  13.42  13.01  13.22  2569365    ACB
5  2022/12/21  13.25  13.48  13.07  13.37  1888423    ACB
6  2022/12/22  13.48  13.48  13.34  13.42  1959813    ACB
7  2022/12/23  13.42  13.42  13.07  13.42  1736555    ACB
8  2022/12/26  13.42  13.42  12.96  12.96  1779728    ACB
9  2022/12/27  12.96  13.25  12.90  12.96  2041994    ACB

üíæ D·ªØ li·ªáu ƒë√£ s·∫µn s√†ng
   Shape: (524, 7) (rows, columns)
   Memory usage: 0.08 MB

‚úÖ HO√ÄN T·∫§T!

Columns: ['time', 'open', 'high', 'low', 'close', 'volume', 'symbol']
Shape: (524, 7)
Sample data:
         time   open   high    low  close   volume symbol
0  2022/12/14  13.54  13.75  13.34  13.57  3294738    ACB
1  2022/12/15  13.48  13.78  13.48  13.60  4116001    ACB
2  2022/12/16  13.48  13.72  13.40  13.48  2221946    ACB
3  2022/12/19  13.42  13.63  13.34  13.34  3384971    ACB
4  2022/12/20  13.34  13.42  13.01  13.22  2569365    ACB
‚úÖ ACB: 262 d√≤ng

================================================================================
K·∫æT QU·∫¢
================================================================================
‚úÖ T·ªïng s·ªë d√≤ng d·ªØ li·ªáu: 524
‚úÖ S·ªë m√£ th√†nh c√¥ng: 2

üìã C√°c c·ªôt d·ªØ li·ªáu:
   ‚Ä¢ time
   ‚Ä¢ open
   ‚Ä¢ high
   ‚Ä¢ low
   ‚Ä¢ close
   ‚Ä¢ volume
   ‚Ä¢ symbol

üìä Th·ªëng k√™:
   ‚Ä¢ S·ªë m√£: 2
   ‚Ä¢ Kho·∫£ng th·ªùi gian: 2022-12-14 ƒë·∫øn 2023-12-29
   ‚Ä¢ Trung b√¨nh ng√†y/m√£: 262

üìÑ M·∫´u d·ªØ li·ªáu (10 d√≤ng ƒë·∫ßu):
         time   open   high    low  close   volume symbol
0  2022/12/14  13.54  13.75  13.34  13.57  3294738    ACB
1  2022/12/15  13.48  13.78  13.48  13.60  4116001    ACB
2  2022/12/16  13.48  13.72  13.40  13.48  2221946    ACB
3  2022/12/19  13.42  13.63  13.34  13.34  3384971    ACB
4  2022/12/20  13.34  13.42  13.01  13.22  2569365    ACB
5  2022/12/21  13.25  13.48  13.07  13.37  1888423    ACB
6  2022/12/22  13.48  13.48  13.34  13.42  1959813    ACB
7  2022/12/23  13.42  13.42  13.07  13.42  1736555    ACB
8  2022/12/26  13.42  13.42  12.96  12.96  1779728    ACB
9  2022/12/27  12.96  13.25  12.90  12.96  2041994    ACB

üíæ D·ªØ li·ªáu ƒë√£ s·∫µn s√†ng
   Shape: (524, 7) (rows, columns)
   Memory usage: 0.08 MB

‚úÖ HO√ÄN T·∫§T!

Columns: ['time', 'open', 'high', 'low', 'close', 'volume', 'symbol']
Shape: (524, 7)
Sample data:
         time   open   high    low  close   volume symbol
0  2022/12/14  13.54  13.75  13.34  13.57  3294738    ACB
1  2022/12/15  13.48  13.78  13.48  13.60  4116001    ACB
2  2022/12/16  13.48  13.72  13.40  13.48  2221946    ACB
3  2022/12/19  13.42  13.63  13.34  13.34  3384971    ACB
4  2022/12/20  13.34  13.42  13.01  13.22  2569365    ACB